<h1>Ready to see your future?</h1>
<img src="fortune-teller.png" alt="fortune teller" title="fortune teller" width="400px"/>
<button type="button" onclick="window.location.href = '/prediction'">Go</button>